<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of object">
          <div class="card">
            <img class="card-img-top" src="{{item.img}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <p class="card-text"><button class="btn btn-primary" value="{{item.email}}" (click)="mailHim($event)" ><a href="mailto:{{item.email}}"></a>Email</button> {{item.email}}</p>
              <p class="card-text">Phone: {{item.mob}}</p>
            </div>
          </div>
        </div>
      </div>
</div>